@(webJarAssets: org.webjars.play.WebJarsUtil)

<html>
    <head>
        <title>Chirper</title>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/webjars/@{webJarAssets.locate("normalize.css").url.get}"/>
        <link rel="stylesheet" href="/webjars/@{webJarAssets.locate("foundation.min.css").url.get}"/>
        <link rel="stylesheet" href="/assets/main.css"/>
    </head>
    <body>
        <div id="content"></div>
        <script type="text/javascript" src="/assets/main.js"></script>
    </body>
</html>
